# coding: utf-8

"""
    FDM API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MetadataApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v1_metadata_curve_id_get(self, curve_id, **kwargs):  # noqa: E501
        """v1_metadata_curve_id_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_curve_id_get(curve_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int curve_id: (required)
        :return: FDMAPIDTOV1CurveMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_metadata_curve_id_get_with_http_info(curve_id, **kwargs)  # noqa: E501
        else:
            (data) = self.v1_metadata_curve_id_get_with_http_info(curve_id, **kwargs)  # noqa: E501
            return data

    def v1_metadata_curve_id_get_with_http_info(self, curve_id, **kwargs):  # noqa: E501
        """v1_metadata_curve_id_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_curve_id_get_with_http_info(curve_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int curve_id: (required)
        :return: FDMAPIDTOV1CurveMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['curve_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_metadata_curve_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'curve_id' is set
        if ('curve_id' not in params or
                params['curve_id'] is None):
            raise ValueError("Missing the required parameter `curve_id` when calling `v1_metadata_curve_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'curve_id' in params:
            path_params['CurveID'] = params['curve_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/Metadata/{CurveID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FDMAPIDTOV1CurveMetadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_metadata_register_curve_tag_post(self, **kwargs):  # noqa: E501
        """v1_metadata_register_curve_tag_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_register_curve_tag_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int curve_id:
        :param str tag_name:
        :param str tag_value:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_metadata_register_curve_tag_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_metadata_register_curve_tag_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_metadata_register_curve_tag_post_with_http_info(self, **kwargs):  # noqa: E501
        """v1_metadata_register_curve_tag_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_register_curve_tag_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int curve_id:
        :param str tag_name:
        :param str tag_value:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['curve_id', 'tag_name', 'tag_value']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_metadata_register_curve_tag_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'curve_id' in params:
            query_params.append(('CurveID', params['curve_id']))  # noqa: E501
        if 'tag_name' in params:
            query_params.append(('TagName', params['tag_name']))  # noqa: E501
        if 'tag_value' in params:
            query_params.append(('TagValue', params['tag_value']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/Metadata/RegisterCurveTag', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_metadata_register_tag_post(self, **kwargs):  # noqa: E501
        """v1_metadata_register_tag_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_register_tag_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tag_name:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_metadata_register_tag_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_metadata_register_tag_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_metadata_register_tag_post_with_http_info(self, **kwargs):  # noqa: E501
        """v1_metadata_register_tag_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_register_tag_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tag_name:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tag_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_metadata_register_tag_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'tag_name' in params:
            query_params.append(('TagName', params['tag_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/Metadata/RegisterTag', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_metadata_search_get(self, **kwargs):  # noqa: E501
        """v1_metadata_search_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_search_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query:
        :param int max_results:
        :param int skip_rows:
        :return: list[FDMAPIDTOV1CurveMetadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_metadata_search_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_metadata_search_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_metadata_search_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_metadata_search_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_search_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query:
        :param int max_results:
        :param int skip_rows:
        :return: list[FDMAPIDTOV1CurveMetadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query', 'max_results', 'skip_rows']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_metadata_search_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('MaxResults', params['max_results']))  # noqa: E501
        if 'skip_rows' in params:
            query_params.append(('SkipRows', params['skip_rows']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/Metadata/Search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FDMAPIDTOV1CurveMetadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_metadata_tag_types_get(self, **kwargs):  # noqa: E501
        """v1_metadata_tag_types_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_tag_types_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_metadata_tag_types_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_metadata_tag_types_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_metadata_tag_types_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_metadata_tag_types_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_metadata_tag_types_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_metadata_tag_types_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/Metadata/TagTypes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
