# coding: utf-8

"""
    FDM API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class RefineryUnitsAndTurnaroundsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v1_iir_ref_turnaround_daily_data_get(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_daily_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_daily_data_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_turnaround_daily_data_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_turnaround_daily_data_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_iir_ref_turnaround_daily_data_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_daily_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_daily_data_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fields', 'max_rows', 'filter', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_turnaround_daily_data_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fields' in params:
            query_params.append(('Fields', params['fields']))  # noqa: E501
        if 'max_rows' in params:
            query_params.append(('MaxRows', params['max_rows']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefTurnaroundDailyData', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FDMAPIDTOV1IIRIIRData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_turnaround_data_get(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_data_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_turnaround_data_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_turnaround_data_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_iir_ref_turnaround_data_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_data_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fields', 'max_rows', 'filter', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_turnaround_data_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fields' in params:
            query_params.append(('Fields', params['fields']))  # noqa: E501
        if 'max_rows' in params:
            query_params.append(('MaxRows', params['max_rows']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefTurnaroundData', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FDMAPIDTOV1IIRIIRData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_turnaround_field_get(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_field_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_field_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool is_daily_turnaround:
        :return: list[FDMAPIDTOV1IIRIIRField]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_turnaround_field_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_turnaround_field_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_iir_ref_turnaround_field_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_field_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_field_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool is_daily_turnaround:
        :return: list[FDMAPIDTOV1IIRIIRField]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['is_daily_turnaround']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_turnaround_field_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'is_daily_turnaround' in params:
            query_params.append(('IsDailyTurnaround', params['is_daily_turnaround']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefTurnaroundField', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FDMAPIDTOV1IIRIIRField]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_turnaround_field_value_field_name_get(self, field_name, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_field_value_field_name_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_field_value_field_name_get(field_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str field_name: (required)
        :param str filter:
        :param bool is_daily_turnaround:
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_turnaround_field_value_field_name_get_with_http_info(field_name, **kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_turnaround_field_value_field_name_get_with_http_info(field_name, **kwargs)  # noqa: E501
            return data

    def v1_iir_ref_turnaround_field_value_field_name_get_with_http_info(self, field_name, **kwargs):  # noqa: E501
        """v1_iir_ref_turnaround_field_value_field_name_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_turnaround_field_value_field_name_get_with_http_info(field_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str field_name: (required)
        :param str filter:
        :param bool is_daily_turnaround:
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['field_name', 'filter', 'is_daily_turnaround']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_turnaround_field_value_field_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'field_name' is set
        if ('field_name' not in params or
                params['field_name'] is None):
            raise ValueError("Missing the required parameter `field_name` when calling `v1_iir_ref_turnaround_field_value_field_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'field_name' in params:
            path_params['FieldName'] = params['field_name']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'is_daily_turnaround' in params:
            query_params.append(('IsDailyTurnaround', params['is_daily_turnaround']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefTurnaroundFieldValue/{FieldName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_unit_data_get(self, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_data_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_unit_data_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_unit_data_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_iir_ref_unit_data_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_data_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_data_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields:
        :param int max_rows:
        :param str filter:
        :param str order_by:
        :return: FDMAPIDTOV1IIRIIRData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fields', 'max_rows', 'filter', 'order_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_unit_data_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fields' in params:
            query_params.append(('Fields', params['fields']))  # noqa: E501
        if 'max_rows' in params:
            query_params.append(('MaxRows', params['max_rows']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('OrderBy', params['order_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefUnitData', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FDMAPIDTOV1IIRIIRData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_unit_field_get(self, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_field_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_field_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[FDMAPIDTOV1IIRIIRField]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_unit_field_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_unit_field_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v1_iir_ref_unit_field_get_with_http_info(self, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_field_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_field_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[FDMAPIDTOV1IIRIIRField]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_unit_field_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefUnitField', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FDMAPIDTOV1IIRIIRField]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v1_iir_ref_unit_field_value_field_name_get(self, field_name, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_field_value_field_name_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_field_value_field_name_get(field_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str field_name: (required)
        :param str filter:
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v1_iir_ref_unit_field_value_field_name_get_with_http_info(field_name, **kwargs)  # noqa: E501
        else:
            (data) = self.v1_iir_ref_unit_field_value_field_name_get_with_http_info(field_name, **kwargs)  # noqa: E501
            return data

    def v1_iir_ref_unit_field_value_field_name_get_with_http_info(self, field_name, **kwargs):  # noqa: E501
        """v1_iir_ref_unit_field_value_field_name_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v1_iir_ref_unit_field_value_field_name_get_with_http_info(field_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str field_name: (required)
        :param str filter:
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['field_name', 'filter']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_iir_ref_unit_field_value_field_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'field_name' is set
        if ('field_name' not in params or
                params['field_name'] is None):
            raise ValueError("Missing the required parameter `field_name` when calling `v1_iir_ref_unit_field_value_field_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'field_name' in params:
            path_params['FieldName'] = params['field_name']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'application/xml', 'text/xml', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey-v1']  # noqa: E501

        return self.api_client.call_api(
            '/v1/IIR/RefUnitFieldValue/{FieldName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
